header {
    text-align: center;
    border-bottom: 2px solid;
    border-color: #ffa500;
    background-color: rgb(230, 230, 230);
}

body{
    width: auto;
    margin-left: 26%;
    margin-right: 26%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
}

footer {
    text-align: center;
    font-size: smaller; 
}

main {
    border-bottom: 1px solid;
    border-color: #ffa500;
}

h2 {
    color: #ffa500;
}