header {
    text-align: center;
    color: #e9ab39;
}

body{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url('img/halloween-scaled.jpg');
}

footer {
    text-align: center;
    font-size: smaller; 
    color: rgb(235, 59, 59);
}

/*main {
    border-bottom: 1px solid #e9ab39;
}*/

section {
    margin-left: 2%;
}

h2 {
    color: #e9ab39;
}

/*img {
    width: 215px;
}*/

.fborder1 {
    border: 2px solid #e9ab39;
    background-color: rgba(230, 230, 230, 0.7);
}

.fborder2 {
    border-top: 2px solid #e9ab39;
    color: rgb(187, 3, 3);
}

h1 {
    margin-left: 2%;
}